body {
    font-size: 25pt;
    margin:10px;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-family: Arial;
    background-image:linear-gradient(45deg,#FEAC5E,#C779D0,#4BC0C8);
}
html,body{
  overscroll-behavior-y: none
}
.highlight-hint{
  background-color: greenyellow
}
#opening{
  font-size:13pt;
  padding:3px;
  color:#E5E7FF;
  text-decoration: underline;
  display:inline-block;
}
#myBoard{
  padding:2px;
  margin:0 auto;
  /*background-image:linear-gradient(45deg,#FEAC5E,#C779D0,#4BC0C8);
  left:50%;
  position:fixed;
  transform: translate(-50%);*/
}
#advantageBox{
  background-color: black;
  width:100%;
  height:18px;
}
#advantageBar{
  background: white;
  width:50%;
  height:18px;
}
#advantageFile{
  font-size:15pt;
}
.highlight-white {
  background-color: limegreen
}

.highlight-black {
  background-color: aliceblue
}
button {
  background-image:linear-gradient(90deg,#FEAC5E,#C779D0,#4BC0C8);
  padding:20px;
  margin:2px;
  color:white;
  border:2px solid white;
  background-color: #4C9F6E;
}