@font-face {
  font-family: "SourceCodePro";
  src: url("./Source_Code_Pro/SourceCodePro-Regular.ttf") format("truetype");
}
body {
    font-size: 25pt;
    margin:10px;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-family: SourceCodePro;
    background-color: rgb(44, 27, 27);
}
html,body{
  overscroll-behavior-y: none
}
.highlight-hint{
  background-color: greenyellow
}
#myBoard{
  margin:50px;
}
#advantageBox{
  background-color: black;
  width:100%;
  height:18px;
}
#advantageBar{
  background: white;
  width:50%;
  height:18px;
  transition:width 0.5s;
}
.highlight-white {
  background-color: limegreen
}

.highlight-black {
  background-color: aliceblue
}
button {
  background-color:whitesmoke;
  padding:20px;
  margin:2px;
  font-family: SourceCodePro;
}